<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    script(src="js/main.js")
    title gulp/pugテスト
  body
    .container
      h1.title gulp/pugのテスト
      p.judgment 現在の閲覧環境:
      //- コメントはコンパイルされない
