//- 変数
include _includes/_valiable.pug

<!DOCTYPE html>
html(lang="ja")
  include _includes/_head.pug
  body
    include _includes/_header.pug
    main.l-main
      .c-device-checker
        p.c-device-checker_text 現在の閲覧環境:
    include _includes/_footer.pug
